# Python as a Calculator

Blank notebook to be used for class exercises.

Name: Dan Schumacher

abc123: hdd249

## Exercise 1

Change Hello to Goodbye, then run the cell.

In [1]:
print("Goodbye World!")

Goodbye World!

## Exercise 2
In the cell below, calculate the following expressions (cast to integers using int()):

| a | b|
----|---- |
| 12 + 4  | 12 + 5 |
| 12 -4   | 12 - 5 |
| 12 $\times$ 4 | 12 $\times$ 5 |
| 12 $\div$ 4 | 12 $\div$ 5|
| $12^4$ | $12^5$ |

Which is wrong?

In [3]:
int(12 + 4)

16

In [4]:
int(12 - 4)

8

In [5]:
int(12 * 4)

48

In [6]:
int(12 / 4)

3

In [7]:
int(12 ** 4)

20736

In [8]:
int(12 + 5)

17

In [9]:
int(12 - 5)

7

In [10]:
int(12 * 5)

60

In [11]:
int(12 / 5) #this one is incorrect

2

In [12]:
int(12 ** 5)

248832

## Exercise 3

In a cell for each item, alculate the following expressions one at a time:

1. 12.0 + 4.0
2. 12.0 $\div$ 4.0
3. $25.0^{0.5}$
4. $5.0^{-1.0}$
5. 5.0 $\div$ 2

In [13]:
12.0 + 4.0

16.0

In [14]:
12.0 / 4.0

3.0

In [15]:
25.0**0.5

5.0

In [16]:
5.0**-1.0

0.2

In [17]:
5.5/2

2.75

## Exercise 4

First, predict what the python result will be. Next, in the cell below, calculate the following expressions one at a time:

1. 'Hello, ' + "world!"
2. 'Hello!' * 3
3. '' * 10000000000 # two adjacent single quotes
4. '4' + '2'

#### Predictions
1. 'Hello, world!
2. 'Hello!Hello!Hello!'
3. '' (nothing)
4. '42'

In [18]:
# 1.
'Hello, ' + "world!"

'Hello, world!'

In [19]:
# 2. 
'Hello!' * 3

'Hello!Hello!Hello!'

In [20]:
# 3. 
'' * 10000000000 # two adjacent single quotes

''

In [21]:
# 4. 
'4' + '2'

'42'

## Exercise 5

Predict whether Python will print True or False before you type the following expressions.

1. 1 > 2 or 2 > 1
2. 1 > 2 or not 2 > 1
3. not True
4. 1 > 2 or True

#### Predictions
1. True
2. False
3. False
4. True

In [22]:
1 > 2 or 2 > 1

True

In [23]:
1 > 2 or not 2 > 1

False

In [24]:
not True

False

In [25]:
1 > 2 or True

True

## Exercise 6

Write the if, elif, else statements to process a score between 0.0 and 1.0. If the score is out of range, print an error message. If the score is between 0.0 and 1.0, print the grade using the following table:

| Score | Grade |
| ----- | ----- |
| $\geq$ 0.9 | A |
| $\geq$ 0.8 | B |
| $\geq$ 0.7 | C |
| $\geq$ 0.6 | D |
| $<$ 0.6 | F |

In [30]:
score = 0.72

In [45]:
def grade(score):
    
    #Data validation:
        #make sure it is a number between 0 and 1
    try: 
        float(score)
    except:
        print('error: please provide a score between 0 and 1')
    if score <0 or score > 1:
        print('error:  please provide a score between 0 and 1')
    
    #print a grade
    if score >= .9:
        print('A')
    elif score >= .8:
        print('B')
    elif score >= .7:
        print('C')
    elif score >= .6:
        print('D')
    else:
        print('F')

In [51]:
grade(.95)

A